<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.paijan.memorise"
	xmlns:android="http://schemas.android.com/apk/res/android" >

	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<application
		android:allowBackup="true"
		android:icon="@mipmap/logo_noshadow"
		android:label="@string/name_app"
		android:theme="@style/Theme.App" >



		<activity
			android:name=".grouplist.GroupListActivity"
			android:label="@string/name_app"
			android:screenOrientation="portrait" >

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>



		<activity
			android:name=".wordgroup.tester.PagerActivity"
			android:label=""
			android:parentActivityName=".grouplist.GroupListActivity"
			android:screenOrientation="portrait" >
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".grouplist.GroupListActivity"/>
		</activity>



		<activity
			android:name=".wordgroup.list.WordListActivity"
			android:label=""
			android:parentActivityName=".grouplist.GroupListActivity"
			android:screenOrientation="portrait" >
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".grouplist.GroupListActivity"/>
		</activity>





	</application>
</manifest>
